.breed-img{
    text-align: center;
    text-transform: uppercase;
}

.breed-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.breed-child img{
    padding: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
  